/!!!BACKUP/*
/.git/*
/.idea/*
/bootstrap/cache/*
/no/*
/no/phpmyadmin/*
/node_modules/*
/public/logs_ts/*
/public/logs_ts
/public/uploads/baza_firebird/*
/public/uploads/baza_firebird/SRVDB.FDB
/public/uploads/models/*
/public/uploads/default/substation_template.json
/storage/*
/vendor/*
/.env
/public/uploads/models/map/kml/*
/public/uploads/models/map/photos/*
/public/uploads/models
composer.lock
.htaccess
/FE/node_modules
/public/css/app.css
/public/js/app.js
package-lock.json
/.phpunit.result.cache
/phpunit.phar
/public/*.js
.DS_Store
