@font-face {
    font-family: 'IBMPlexMono';
    src: url('../fonts/IBMPlexMono-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('../fonts/IBMPlexMono-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('../fonts/IBMPlexMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('../fonts/IBMPlexMono-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('../fonts/IBMPlexMono-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('../fonts/IBMPlexMono-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Gilory';
    src: url('../fonts/Gilory/Gilroy-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilory';
    src: url('../fonts/Gilory/Gilroy-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilory';
    src: url('../fonts/Gilory/Gilroy-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
