.search-bar {
    background-color: $color-blue-3;
    display: flex;
    padding: 10px 20px;

    .form-control {
        flex: 1;
        height: 42px;
        background-color: $color-blue-1;
        color: white;
        border: 0;

        &::placeholder {
            color: white;
        }
    }

    .button {
        height: 42px;
        margin-left: 20px;
        padding: 10px 25px 11px;
        min-width: 210px;
    }
}