$path: '/public/uploads/';

$container-gap: 30px;
$header-height: 57px;

$font: 'Gilory', 'Arial', sans-serif;

$color-main: #00DBFF;

$color-blue-1: #273661;
$color-blue-2: #202346;
$color-blue-3: #171636;